<div class="locations medium-centered medium-6 large-4 large-centered columns">

  <h4>You Recommended</h4>
  <% if @recommendations.size > 0 %>
    <% @recommendations.each do |r| %>
      <%= r.user.name %> 
    <% end %>
  <% else %>
    You have not recommeded anyone yet. You can do so after you "Mark a job as completed" from the <%= link_to "requests page", job_requests_path %>
  <% end %>
</div>
