<div class="locations medium-centered large-6 large-centered columns">

  <h4>You Recommended</h4>
  <% if @recommendations.size > 0 %>
    <div class="card">
      <% @recommendations.each do |r| %>
        <div class="card-divider">
          <%= link_to "#{image_tag(r.user.avatar.url, :class => 'avatar small')} #{r.user.name}".html_safe, user_path(r.user) %>
        </div>
      <% end %>
    </div>
  <% else %>
    You have not recommeded anyone yet. You can do so after you "Mark a job as completed" from the <%= link_to "requests page", job_requests_path %>
  <% end %>
</div>
