<div class="medium-centered medium-6 large-4 large-centered columns">
  <h4>Your Job Request for <%= @job_request.job_type_name %></h4>
  <p>We have notified the home owner that you are interested in doing the job for them. They will contact you via your phone number or email.</p>
  <%= render @job_request %>
</div>
