<% content_for :head do %>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASzLV9HksurXgWeTPy_LpfNv-2c61vSuM&callback=initMap"></script>
<% end %>
<script id="map_configuration" type="application/json">
<%= {
  "closeSrc": image_url('close.png'),
  "showRequestButton": !current_user.blank? && !current_user.is_homeowner
  }.to_json.html_safe %>
</script>
<script id="map_markers" type="application/json">
<%= @job_postings.html_safe %>
</script>
<div id="map"></div>
