<div class="medium-centered large-6 large-centered columns">

  <h4>Your Job Postings</h4>
  <% if @job_postings.size > 0 %>
    <% @job_postings.each do |job_posting| %>
      <%= render job_posting %>
    <% end %>
  <% else %>
    <p>You have not created any job posting. Create one now.</p>
  <% end %>
  <p>
    <%= link_to 'Create New Job Posting', job_postings_path %>
  </p>
</div>
