<div class="medium-centered medium-6 large-4 large-centered columns">

  <h4>Your Job Postings</h4>
  <% @job_postings.each do |job_posting| %>
    <%= render job_posting %>
  <% end %>

  <p>
    <%= link_to 'Create New Job Posting', job_postings_path %>
  </p>
</div>
