<div class="medium-centered large-6 large-centered columns">
  <% if @job_requests.size > 0 %>
    <h4>Request(s) to do your Jobs</h4>
    <% @job_requests.each do |job_request| %>
      <%= render job_request.user, job_posting: job_request.job_posting, job_request: job_request %>
    <% end %>
  <% else %>
    <h4>No Job Request(s) Received Yet</h4>
    <p>No one has expressed interest in doing the jobs you posted. Wait a little while or try lowering the prices for your jobs.</p>
  <% end %>
</div>
