@import "foundation_and_overrides";
@import "refills";

#map {
  height: 100%;
  display: flex;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

#error_explanation {
    background: red;
    color: white;
    padding: 10px 20px 10px 20px;
    margin: 10px 0 0 0;
    h2 {
      font-size: 20px;
    }
}

#notice {
  background: $primary-color;
  color: white;  
  padding: 20px;
  margin: 0;
  a {
    background: white;
    padding: 4px 5px;
    border-radius: 5px;
    &:hover {
      background: $light-gray;
    }
  }
}

.card {
  img {
    width: 100%;
  }
}


.job-posting-description {
  padding: 10px 20px 10px 10px;
  font-size: 18px;
  background: white;
  margin-bottom: 40px;
}

.js-info-bubble-close {
  top: 5px !important;
  right: 5px !important;
}

.send-request-button {
  color: white;
  display: block;
  text-align: center;
  padding: 10px;
  font-size: 18px;
  background: $primary-color;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  &:hover {
    color: $light-gray;
  }
}

h4 {
  margin-top: 10px;
}

.top-bar {
  .top-bar-left,
  .top-bar-right {
    display: inline-block;
    width: auto;
  }
  .dropdown.menu {
    display: inline-block;
    .menu.vertical {
      width: 300px;
    }
  }
}

.avatar {
  border-radius: 100%;
  border: 2px solid $primary-color;
  width: 100px;
  height: 100px;
  &.small {
    width: 40px;
    height: 40px;
    margin-top: -10px;
  }
}