@import "settings";

.users {
  margin-top: 10px;
  .tabs-title {
    width: 50%;
    a {
      font-size: 16px;
    }
  }
  .recommended {
    background: $background-blue;
    color: $primary-color;
  }
  .fa-thumbs-up {
    padding: 1px 10px;
    border-radius: 5px;
    &:hover {
      background: $background-blue;
    }
  }
}