<div class="card">
  <div class="card-divider">
    <%= location.address %>
  </div>
  <img src="<%= "https://maps.googleapis.com/maps/api/staticmap?center=#{location.coordinates_str}&size=300x150&zoom=15&markers=color:red%7C#{location.coordinates_str}" %>" />
  <div class="card-section">
    <%= link_to 'Edit', edit_location_path(location) %>
    <% if show_remove %>
      <%= link_to 'Remove', location, :class => "remove float-right", method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
</div>
