<div class="locations medium-centered medium-6 large-4 large-centered columns">

  <h4>Addresses</h4>
  <% @locations.each_with_index do |location, index| %>
    <%= render location, show_remove: index > 0 %>
  <% end %>
  <p>
    <%= link_to 'Add Another Address', new_location_path %>
  </p>
</div>
